@model AppData.Entities.GiaoDichTaiChinh

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>GiaoDichTaiChinh</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NguoiThucHien)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NguoiThucHien)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LoaiGiaoDich)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LoaiGiaoDich)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiaChiVi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiaChiVi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoLuong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoLuong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayGiaoDich)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayGiaoDich)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhiGiaoDich)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhiGiaoDich)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrangThai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrangThai)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
